export(PCAmix,PCArot,plot.PCAmix,summary.PCAmix,print.PCAmix,predict.PCAmix,recodqual,recodquant,RV,RV.pond,nb.level,recod,sol.2dim,tab.disjonctif.NA,svd.triplet,splitgroups,splitmix,Lg,Lg.pond,MFAmix,summary.MFAmix,print.MFAmix,plot.MFAmix,predict.MFAmix)
S3method(print,PCAmix)
S3method(plot,PCAmix)
S3method(summary,PCAmix)
S3method(predict,PCAmix)
S3method(print,MFAmix)
S3method(plot,MFAmix)
S3method(summary,MFAmix)
S3method(predict,MFAmix)